.customfield_group label.customfield_label:not(.sub_label),
.customfield label.customfield_label:not(.sub_label) {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

label.sub_label,
.customfield label.sub_label {
    color: #888;
}

.customfield_not_ingroup {
    margin-bottom: 20px;
    clear:both;
}

.customfield_group {
    clear:both;
}

.customfield_group > span {
    float: left;
    width: 100%;
}

.tip-target {
    cursor:help;
}
label .tip-target {
    border-bottom:  1px solid #cdcdcd;
    padding-left: 0;
}
.customfields-wrapper label {
    font-weight: 700;
}

.customfields-wrapper .customfield_group.header {
    margin-bottom: 15px;
}

.customfields-wrapper > div.header {
    margin-bottom: 0;
}

.customfields-wrapper .col-xs-12 {
    padding-left: 0;
}

.customfields-wrapper .header textarea,
.customfields-wrapper .customfield textarea {
    height: 140px;
}

.customfield_group > div.header,
.customfield_group > div.date {
    padding-left: 0;
}