.addition_description {
    color: #888;
    font-size: smaller;
}

.xxlong-currency {
    font-size:10px;
}

.xlong-currency {
    font-size:11px;
}

.long-currency {
    font-size:12px;
}

.invoice-buttons .btn-group-lg>.btn, .invoice-buttons .btn-lg {
    padding:  6px 12px;
}