#use_recurring {
    margin-top:10px;
}

#awaitingvalidationspan h4 {
    margin: 0;
}

#awaitingvalidationspan,
#lastfourspan,
#deleteccspan,
#ccnumberspan,
#newccspan {
    padding: 0;
}

.btn-update-payment-method{
    margin-right:10px;
}

.plugin_description {
    margin-top:10px;
}
.ce-recurring-warning {
    margin-top:20px;
}

#ccnumber,
#newccnumber,
#lastfour {
    letter-spacing: 2.5px;
}
