.addons-wrapper .col-xs-12 {
    padding-left: 0px;
}

.addons-wrapper.container-fluid {
    padding-left: 0px;
}

.addon-type {
    clear: both;
}


table.pricing-options td:first-child {
    padding-left: 15px;
}